.main {
  // margin-top: 88px;
}

.header {
  padding: 20px 0;
  position: sticky;
  top: 88px;
  background-color: #fff;
  z-index: 100;
  margin-bottom: 40px;
  box-shadow: 0 7px 20px -5px rgb(223, 223, 223);
}

.inner {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 10px;
}

.paths {
  padding: 0 0 20px;
}

.filter {
  position: relative;
  display: flex;
  align-items: center;
  gap: 40px;
}
.arrow {
  transition: all 0.2s ease-in-out;
}

.rotated {
  transform: rotateX(-180deg);
}

.title {
  font-size: 24px;
  cursor: pointer;
}

.bottom {
  display: flex;
  justify-content: space-between;
}
.block {
  display: flex;
  gap: 20px;
  align-items: center;
}

.count {
  font-size: 20px;
  font-weight: 500;
  line-height: 32px;
}


.products{
  margin: 0 auto;

}