


.inner {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  gap: 10px;
  max-width: 1620px;
  position: relative;
}

.empty{
  line-height: 72px;
  font-size: 48px;
  text-align: center;
  width: 100%;
}