.tablets {
  width: 100%;
  padding-top: 80px;
  z-index: 10;
  position: relative;
  background-color: #fff;
}

.inner {
  max-width: 1620px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 632px;
}

.left {
  background-color: #fff;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 332px 300px;

  .left {
    background-color: #ededed;
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 48px;

    .block {
      width: 160px;
      gap: 8px;
    }
    .title,
    .bold {
      font-size: 29px;
      line-height: 40px;
      font-weight: 300;

      .bold {
        font-weight: 600;
      }
    }
  }

  .right {
    background: rgb(53, 53, 53);
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 48px;
    .block {
      width: 160px;
      gap: 8px;
    }
    .title,
    .bold {
      color:#fff;
      font-size: 29px;
      line-height: 40px;
      font-weight: 300;

      .bold {
        font-weight: 600;
      }
    }
  }
}

.up {
  grid-column: 1/3;
  display: flex;
  align-items: center;
  justify-content: start;

  .block {
    width: 338px;
  }

  .title {
    font-size: 49px;
    font-weight: 500;
    line-height: 40px;
  }
}

.right {
  background-color: #ededed;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  overflow: hidden;
}
.block {
  width: 365px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.title,
.bold {
  color: rgb(0, 0, 0);
  font-size: 64px;
  font-weight: 100;
  line-height: 56px;

  .bold {
    font-weight: 600;
  }
}
.text {
  color: rgb(145, 145, 145);
  font-size: 14px;
  line-height: 24px;
}
.mac {
  height: 80%;
  width: 40%;

  background-size: cover;
}

.ps {
  height: 100%;
  width: 40%;
  background-size: cover;
  background-position: right;
}
.ap {
  height: 90%;
  width: 30%;
  background-size: cover;
  background-position: right;
  background-repeat: no-repeat;
}
