.header {
  height: 88px;
  width: 100%;
  padding: 16px 0;

  position: fixed;
  inset: 0 0;

  background-color: #fff;

  z-index: 999;
  border-bottom: 1px solid #cfcfcf;
}

.inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

// .logo {
//   transition: all 0.1s ease-in-out;

//   &:hover {
//     transform: scale(1.05);
//   }
// }

.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  // max-width: 369px;
  gap: 52px;

  .item,
  .button {
    color: rgb(75, 75, 75);
    transition: all 0.1s ease-in-out;
    &:hover {
      color: rgb(145, 145, 145);
    }
  }

  .active {
    transition: all 0.2s ease-in-out;
    color: #000;
    font-weight: 700;
  }
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 24px;
}

.button svg {
  path{
    
    transition: all 0.1s ease-in-out;
  }

  &:hover {
    path {
      stroke: rgb(145, 145, 145);
    }
  }
}


.back{
  position: relative;
  height: 88px;
}