@import "./styles/reset.scss";
@import "./styles/components/buttons.scss";

@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

.container {
  width: calc(100% - 300px);
  max-width: 1620px;
  height: 100%;

  margin: 0 auto;
}
